body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  display: flex;
  justify-items: center;
  justify-content: space-between;
  padding-top: 20px;
  height: 40px;
}

.navItem {
  text-align: left;
  line-height: 40px;
  height: 40px;
  width: 15%;
  text-decoration: none;
  font-family: Roboto, sans-serif;
  font-size: calc(10px + 0.5vw);
  color: #666;
}

.navItem:hover,
.navbar .active {
  color: #fff;
  border-bottom: 3px solid #fff;
  text-shadow: 0px 0px 20px #4285f4;
}

.projectsContainer,
.experiencesContainer {
  display: flex;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 13vw;
}

.sideItem {
  width: 13vw;
  padding-left: 10px;
  box-sizing: border-box;
  line-height: 3vw;
  text-align: left;
  text-decoration: none;
  font-family: Roboto, sans-serif;
  font-size: calc(10px + 0.5vw);
  color: #666;
}

.sideItem:hover,
.sidebar .active {
  color: #fff;
  border-left: 3px solid #fff;
  background: #bbb;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 80%);
}

.title {
  display: block;
  margin: 30px 0px;
  text-decoration: none;
  font-size: 50px;
  color: #fff;
  /* text-shadow: 0px 0px 20px #4285f4; */
}

.aboutMe {
  margin-top: 50px;
  display: flex;
}

p {
  margin-top: 0px;
  font-size: 20px;
  line-height: 1.5em;
  /* text-shadow: 1px 1px #4285f4; */
}

.cardsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  width: 45%;
  margin-bottom: 30px;
  padding: 5px 10px;
  text-decoration: none;
  color: #fff;
  border-radius: 5px;
}

.card img {
  width: 100%;
  height: 15vw;
  object-fit: cover;
  border-radius: 5px;
}

.card p {
  margin-top: 10px;
  font-size: 1.2vw;
}

.educationCard {
  width: 100%;
  margin-bottom: 0px;
}

.educationCard p {
  margin: auto;
}

.educationCardHeader {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;

}

.projects,
.experiences,
.project,
.experience {
  flex-grow: 1;
}

.card h3,
.projects h2,
.experiences h2,
.project h1,
.experience h1 {
  margin-bottom: 0px;
}

.date {
  color: #999;
  font-style: italic;
}

.techContainer {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  height: 32px;
  line-height: 32px;
  margin-bottom: 10px;
}

.techSection {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.techSection div {
  font-weight: 400;
  height: 70%;
  line-height: 140%;
  border: 1px solid #fff;
  border-radius: 4px;
  padding: 0px 5px;
  margin-right: 10px;
}

.relatedProjects {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.relatedProject {
  padding: 20px;
  margin: 10px 0px;
  font-size: 1.2rem;
  color: white;
  text-decoration: none;
  border: 1px solid #fff;
  border-radius: 5px;
}

.contact a:hover,
.card:hover,
.relatedProject:hover {
  background-color: rgba(255, 255, 255, 0.2);
}


#selfie {
  border-radius: 20px;
  width: 24vw;
  height: 32vw;
  object-fit: cover;
  margin-left: 5%;
}

.icon {
  width: 32px;
}

.contact p {
  font-size: 28px;
}

.contact li {
  display: flex;
  margin: 20px 0px;
  list-style-type: none;
  font-size: 24px;
  text-decoration: none;
  height: 32px;
  line-height: 32px;
}

.contact a {
  color: #fff;
  border-radius: 5px;
}

.contact .icon {
  margin-right: 10px;
}

.contact .item {
  width: 100%;
  display: flex;
}

.contact .key {
  width: 15%;
}

.contact .value {
  padding: 2px;
}